#articles {
  padding-left: 10%;
  padding-right: 10%;
}

.module {
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  background-color: red;
  margin-bottom: 20px;
}

.module #one {
  width: 30%;
}

.module #two {
  width: 70%;
}

.row {
  height: 300px;
  display: flex;
}

.row #two {
  height: 50px;
}

.headline {
  font-family:sans-serif;
}

p {
  width:100%;
  color: white;
}

h1 {
  margin-top: 10px;
  color: white;
}
